section#promotion {
  background-color: white;
}
section#promotion .wrap {
  height: 100%;
  gap: 15px;
  perspective: 150px;
}
section#promotion .wrap h2 {
  
}
section#promotion .wrap p {
  margin-bottom: 15px;
}
section#promotion .wrap iframe {
  border: 1px solid #333;
  animation-name: test;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  transition: all 1s;
}
@keyframes test{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
section#promotion .wrap iframe:hover{
  box-shadow: 5px 5px black;
}
section#business {
  background-color: #eee;
  display: flex;
  flex-direction: ;
  align-items: center;
}
section#business .wrap {
  /*! height: 100%; */
  gap: 15px;
  width: 100%;
}
section#business .wrap h2 {
  text-align: center;
}
section#business .wrap p {
  margin-bottom: 30px;
  line-height: 1.3;
  text-align: center;
  /*! margin: 15px 0; */
}
section#business .wrap ul {
  gap: 10px;
}
section#business .wrap ul li {
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
section#business .wrap ul li a {
  color: white;
}
section#business .wrap ul li a::before{
  content: "";
  height: 340px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}
section#business .wrap ul li:nth-child(1) a::before{
  background-image: url(../img/busi_01.png);
  background-color: #e4e2e2;
  transition: all 1s;
  width: 100%;
  background-position: center;
}
section#business .wrap ul li:nth-child(1) a:hover::before{
  transform: scale(1.1);
}
section#business .wrap ul li:nth-child(2) a::before{
  background-image: url(../img/busi_02.jpg);
  transition: all 1s;
  width: 100%;
  background-position: center;
}
section#business .wrap ul li:nth-child(2) a:hover::before{
  transform: scale(1.1);
}
section#business .wrap ul li a h3 {
  position: absolute;
  top: 31%;
  left: 16%;
}
section#business .wrap ul li a p {
  position: absolute;
  top: 48%;
  left: 16%;
}
section#products{
  position: relative;
  align-items: center;
  display: flex;
  background-color: white;
}
section#products .wrap {
  gap: 121px;
  justify-content: center;
  align-items: center;
}
section#products .wrap h2 {
  display: none;
}
section#products .wrap ul {
  position: relative;
  /*! bottom: 20%; */
  /*! right: 30%; */
  width: fit-content;
  order: 2;
}
section#products .wrap ul::before{
  content: "";
  width: calc(100% - 120px);
  border-top: 1px solid black;
  position: absolute;
  top: 5px;
  left: 60px;
}
section#products .wrap ul li {
  width: 120px;
}
section#products .wrap ul li a {
  line-height: 2;
  box-sizing: border-box;
  text-align: center;
}
section#products .wrap ul li:first-child a {
  padding-right: 10px;
}
section#products .wrap ul li:not(:first-child) a {
  padding: 0 10px;
}
section#products .wrap ul li a:hover{
  color:#02139c;
}
section#products .wrap ul li a::before{
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  z-index: 1;
  transition: 2s;
}
/* 나중에 삭제수정해야할 부분 */
@keyframes pp{
  0%{
  }
  50%{
    background-color: #1a4399;
  }
  70%{
    background-color: #396cd7;
  }
  100%{
    background-color: #396cd7;
  }
}
  section#products .wrap ul li:nth-child(1) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-direction: reverse;
}
  section#products .wrap ul li:nth-child(2) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 8s;
  animation-direction: reverse;
}
  section#products .wrap ul li:nth-child(3) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 12s;
  animation-direction: reverse;
}
  section#products .wrap ul li:nth-child(4) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 16s;
  animation-direction: reverse;
}
  section#products .wrap ul li:nth-child(5) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 20s;
  animation-direction: reverse;
}
  section#products .wrap ul li:nth-child(6) a::before{
    /*  연습용  */
  animation-name: pp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 24s;
  animation-direction: reverse;
}
section#products .wrap div {
  /*! transform: translateY(-10%); */
  order: 1;
}
section#products .wrap div article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto auto 1fr;
  column-gap: 20px;
  background-color: #6965650a;
}
section#products .wrap div article:not(:first-child){
  display: none;
}
section#products .wrap div article h3 {
  display: flex;
  align-items: end;
  grid-row: 2;
}
section#products .wrap div article figure{
  grid-column: 1;
  grid-row: 1 /span 6;
  margin: 0 10px;
}
section#products .wrap div article figure img{
  
}
section#products .wrap div article p {
  
  grid-row: 3;
}
section#products .wrap div article a {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  color: #949494;
  transition: 1s;
  grid-row: 4;
}
section#products .wrap div article a:hover{
    color: white;
    background-color: #1a4399;
}
section#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
section#news .wrap {
  width: 100%;
}
section#news .wrap h2 {
  margin-bottom: 10px;
}
section#news .wrap h3 {
  
}
section#news .wrap p {
  
}
section#news .wrap ul {
}
section#news .wrap ul.news_t {
  display: flex;
  justify-content: end;
}
section#news .wrap ul.news_t li{
  line-height: 2;
  padding: 0 10px;
  border: 1px solid #e3e3e3;
  border-radius: 10%;
  margin: 0 10px;
}
section#news .wrap ul.news_t li:hover{
  background-color: #1a4399;
  border: 1px solid transparent;
}
section#news .wrap ul.news_t li a:hover{
  color: white;
}
section#news .wrap ul.news_t li button {
  
}
section#news .wrap ul.news_c {
  display: flex;
} 
section#news .wrap ul.news_c li {
  width: calc(100% / 4);
  margin: 30px;
}
section#news .wrap ul.news_c li a::before{
  content: "";
  width: 300px;
  height: 300px;
  display: block;
}
section#news .wrap ul.news_c li:nth-child(1) a::before{
  background-image: url(../img/news_01.jpg);
  background-size: cover;
}
section#news .wrap ul.news_c li:nth-child(2) a::before{
  background-image: url(../img/news_02.jpg);
  background-size: cover;  
}
section#news .wrap ul.news_c li:nth-child(3) a::before{
  background-image: url(../img/news_03.jpg);
  background-size: cover;  
}
section#news .wrap ul.news_c li:nth-child(4) a::before{
  background-image: url(../img/news_04.jpg);
  background-size: cover;  
}
section#news .wrap ul li a {
  
}
section#news .wrap ul li a figure{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: none;
}
section#news .wrap ul li a figure img{
  
}
section#news .wrap ul li a figure figcaption{
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  line-height: 1.4;
  font-size: 14px;

  opacity:0;
  transition:1s;
}
section#news .wrap ul li a figure:hover figcaption{
  opacity:1;
}
section#news .wrap ul li a figure figcaption span{
  display: block;
  font-size: 16px;
}
section#news .wrap ul li a span {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  color: #5555;
}
section#news .wrap ul li a time {
  display: block;
  color: #aaaaaa;
  padding: 10px 0;
}
section#news .wrap a.more {
  position: absolute;
  bottom: 20px;
}